body{
  background-color:#FFB6C1;
}
.Favorites{
  background-color:#b76e79;
}
#Drawing{
  height: 180px;
}
#iphone7{
  height: 160px;
}
#Flag{
  height: 180px;
}
#Pop{
  height: 160px;
}
#Bora{
  height: 10px;
}
#UA{
  height:160px
}
#pm{
  height: 160px;
}
#M{
  height: 160px
}
#Dol{
  height: 160px
}
#AC{
  height: 160px
}
#TG{
  height: 160px
}
